.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--container-color);
    width: 100%;
    padding-top: 6.5vh;

    @media (max-width: 768px) {
        padding-top: 0;
        min-height: auto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        height: 100%;
        height: 70vh;
        
        img {
            width: 100%;
            margin-bottom: 2rem;
            object-fit: cover;
            clip-path: var(--clip-path);

            @media (max-width: 768px) {
                margin-bottom: 0;
                clip-path: var(--mobile-clip-path) ;
            }
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 3;
            gap: 2rem;

            @media (max-width: 768px) {
                top: 50%;
                gap: 1rem;
            }

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: var(--background-color);
                text-transform: uppercase;
                letter-spacing: 0.25rem;
                font-family: var(--bold-font);

                @media (max-width: 768px) {
                    font-size: 1.4rem;
                    letter-spacing: normal;
                }
            }

            .divider {
                width: 10vw;
                height: 1px;
                background-color: var(--background-color);
            }

            img {
                width: 10rem;
                object-fit: cover;
                position: relative;
                top: 2rem;

                @media (max-width: 768px) {
                    height: 5rem;
                    width: 5rem;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                color: var(--background-color);
                text-align: center;
                width: 78%;

                @media (max-width: 768px) {
                    font-size: 0.8rem;
                    width: 80%;
                }
            }

            .btns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 2rem;
                position: relative;
                z-index: 9999;

                @media (max-width: 768px) {
                    width: 100%;
                }

                .btn {
                    padding: 1rem 2rem;
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--background-color);
                    background-color: var(--primary-color);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    @media (max-width: 768px) {
                        padding: 1rem;
                    }

                    &:hover {
                        background-color: var(--second-accent-color);
                        color: var(--title-color)
                    }
                }
            }

        }
    }
}

.swiper-button-next {
    right: -15%;
}