.about {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--container-color);
    width: 100%;
    gap: 10vh;

    @media (max-width: 756px) {
        position: relative;
        min-height: auto;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        height: 100%;
        max-width: 80vw;
        margin: 0 auto;


        h1 {
            font-size: 2rem;
            font-weight: 700;
            color: var(--title-color);
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            margin-top: 2rem;

            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
        }

        p {
            font-size: 1rem;
            color: var(--text-color);
            margin-top: 2rem;
            line-height: 1.5;
            text-align: center;
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

    }

    &__lower {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
        max-width: 80vw;
        margin: 0 auto;
        margin-top: 2rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &__mission {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            background-color: var(--accent-color);
            border-radius: var(--normal-border-radius);
            padding: 5vh;
            transition: var(--animation-primary);

            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--second-accent-color);
                text-transform: uppercase;
                letter-spacing: 0.25rem;
            }

            p {
                font-size: 1rem;
                color: var(--container-color);
                line-height: 1.5;
                text-align: center;
            }

            &:hover {
                background-color: var(--second-accent-color);
                transition: var(--animation-primary);
                transform: translateY(-0.5rem);

                p,
                h2 {
                    color: var(--title-color);
                }


            }
        }
    }

    &__story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            width: 100%;
            max-width: 80vw;
            margin: 0 auto;
            margin-top: 2rem;
            height: 100%;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-bottom: 5vh;

            }

            &_right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                height: 86%;

                @media (max-width: 768px) {
                    height: 100%;
                    gap: 2rem;
                }

                &_top {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    height: 100%;

                    span {
                        color: var(--second-accent-color);
                        font-size: 2rem;
                    }

                    h2 {
                        font-size: 2rem;
                        font-weight: 700;
                        color: var(--title-color);
                        text-transform: uppercase;
                        letter-spacing: 0.15rem;
                    }
                }

                p {
                    font-size: 1rem;
                    color: var(--text-color);
                    line-height: 1.5;
                    text-align: left;
                    width: 100%;
                }

                &_middle {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1rem;
                    width: 100%;
                }

                a {
                    font-size: 1rem;
                    color: var(--second-accent-color);
                    text-decoration: none;
                    background-color: var(--accent-color);
                    padding: 1rem;
                    transition: var(--animation-primary);
                    border-radius: var(--normal-border-radius);

                    &:hover {
                        transition: var(--animation-primary);
                        color: var(--title-color);
                        background-color: var(--second-accent-color);
                    }
                }
            }

            &_left {
                img {
                    width: 100%;
                    object-fit: cover;
                    margin-bottom: 2rem;
                    border-radius: var(--normal-border-radius);

                    @media (max-width: 768px) {
                        height: 100%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}