.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    gap: 2rem;
    background-color: var(--accent-color);
    position: relative;
    padding-top: 15vh;

    h1 {
        font-family: var(--semi-bold-font);
        font-size: var(--biggest-font-size);
        color: var(--background-color);
        letter-spacing: normal;
        text-transform: capitalize;
        font-display: swap;
        text-align: center;

        @media (max-width: 777px) {
            font-size: 8vw;
        }
    }


    &__formSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        height: fit-content;
        background-color: var(--accent-color);
        box-shadow: 0 4px 30px rgba(96, 77, 58, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid var(--second-accent-color);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 2rem;
        padding: 1rem;
        // border: 1px solid var(--border-color);
        gap: 2rem;
        z-index: 2;
        position: relative;
        top: -3rem;

        @media (max-width: 977px) {
            max-width: 90vw;
        }

        @media (max-width: 467px) {
            max-width: 100vw;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            gap: 1rem;

            .button {

                width: 100%;
                padding: 0.5rem;
                border: 2px solid var(--title-color);
                border-radius: 2rem;
                font-size: 1.5rem;
                background-color: var(--second-accent-color);
                color: var(--title-color);
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                margin-top: 3vh;
            }

            .error {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                border: 1px solid var(--border-color);
                border-radius: 5px;
                color: #721c24;
                background-color: #f8d7da;
            }

            input {
                height: fit-content;
                width: 100%;
                padding: 10px 0rem;
                border: none;
                border-bottom: 1px solid var(--border-color);
                border-radius: 0;
                outline: none;
                color: var(--background-color);
                background-color: transparent;
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

                &:last-child {
                    margin-bottom: 1rem;
                    border-bottom: none;
                }

                &::placeholder {
                    color: var(--background-color);
                }

                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: var(--background-color);

                    opacity: 1;
                }

                &:hover {
                    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                    border-bottom: 1px solid var(--title-color);
                }

                &:focus {
                    border-bottom: 1px solid var(--title-color);
                    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }

            label {
                font-size: 1.5rem;
                color: var(--background-color);
                font-family: var(--title-font);
                text-transform: capitalize;

                @media (max-width: 467px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .link {
        margin-top: 10px;
        text-align: left;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

        a {
            color: var(--text-color);
            text-decoration: none;
            transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 1px;
                background-color: var(--text-color);
                transition: width 0.3s;
            }

            &:hover {
                transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);

                &::after {
                    width: 100%;
                }
            }
        }
    }
}