.ServicesHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--container-color);
    @media (max-width: 768px) {
        padding-top: 10vh;
    }
    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--title-color);
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        position: relative;
        text-align: center;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        &__service {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            transition: var(--animation-primary);

            img {
                width: 4vw;
                object-fit: cover;

                @media (max-width: 768px) {
                    width: 8vw;
                }
            }
            h3 {
                font-size: 1rem;
                font-weight: 700;
                color: var(--border-color);
                text-transform: uppercase;
                letter-spacing: 0.05rem;
                position: relative;
                text-align: center;
                transition: var(--animation-primary);

                @media (max-width: 768px) {
                    color: var(--title-color);
                }
            }
            p {
                font-size: 0.9rem;
                font-weight: 400;
                color: var(--border-color);
                text-align: center;
                width: 90%;
                transition: var(--animation-primary);
                @media (max-width: 768px) {
                    color: var(--title-color);
                }
            }
            &:hover {
                h3 {
                    transition: var(--animation-primary);
                    color: var(--accent-color);
                }
                p {
                    transition: var(--animation-primary);
                    color: var(--accent-color);
                }
            }
        }

    }
}