.nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: var(--accent-color);
    top: 6.5vh;
    left: 0;
    height: 100lvh;
    .hamburger {
        display: flex;
        justify-content: flex-end;
        color: var(--background-color);
        font-size: 2rem;
        z-index: 9999;
        position: absolute;
        right: 3rem;
        top: 2rem;
        font-family: var(--body-font);
        cursor: pointer;

        @media (max-width: 468px) {
            right: 2rem;
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

