:root {

  --container-color: #FFF;
  --subtitle-color: #515151;
  --title-color: #474747;
  --text-color: #47393f;
  --hue: 0;
  --sat: 0%;
  --accent-color: #142B6B;
  --second-accent-color: #5CE6A1;
  --dimmed-color: #0a0a09;
  --lighter-text-color: #989898;
  --background-color: #F0F0F0;
  --border-color: #c1c1c1;
  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
  --section-padding: min(3.5vw, 3.5em);

  /* Responsive Sizes  */

  --mobile: max-width: 767px;
  --tablet: max-width: 1168px;
  --desktop: 1424px;
  --big-desktop: 1940px;

  /* Fonts */

  --body-font: 'Poppins-Regular', sans-serif;
  --subtitle-font: 'Poppins-Thin', sans-serif;
  --medium-font: 'Poppins-Medium', sans-serif;
  --title-font: 'Poppins-Bold', sans-serif;
  /* Font Sizes Based on Golden Ratio */


  --normal-border-radius: 0.5rem;
  --clip-path: polygon(15% 0%, 85% 0%, 100% 0%, 100% 85%, 51.2% 100%, 51.2% 100%, 0% 85%, 0% 0%);
  --mobile-clip-path: polygon(15% 0%, 85% 0%, 100% 0%, 100% 85%, 51.2% 91.8%, 51.1% 91.8%, 0% 85%, 0% 0%);




  --small-font-size: 0.8rem;
  --normal-font-size: 1rem;
  --body-font-size: 1.236rem;
  --medium-font-size: 1.318rem;
  --big-font-size: 1.618rem;
  --semi-big-font-size: 2rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;
  --navigation-font-size: 6.618rem;
  --title-size: clamp(4em, 6.5vw, 6.5em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;

}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}


img {
  max-width: 100%;
  pointer-events: none;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}


::-webkit-scrollbar {
  display: none;
}

.hiddenn {
  display: none;
}


@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../public/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../public/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../public/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../public/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}