.contactHomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--accent-color);
    padding: 10vh 0;
    gap: 1rem;


    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--background-color);
    }

    p {
        font-size: 1rem;
        font-weight: 200;
        color: var(--background-color);
        text-align: center;
        max-width: 60vw;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
        max-width: 80vw;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            max-width: 100%;
            padding: 1rem;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: var(--background-color);
            padding: 5rem;
            gap: 5vh;
            width: 100%;
            border-radius: var(--normal-border-radius);

            @media (max-width: 768px) {
                padding: 3rem;
            }

            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: var(--accent-color);
                margin-bottom: 1rem;
                text-align: left;

            }

            p, a {
                font-size: 1rem;
                font-family: var(--subtitle-font);
                font-weight: 200;
                color: var(--title-color);
                text-align: left;
                text-decoration: none;
                @media (max-width: 768px) {
                    font-size: 1rem;
                }

            }

            &_header {
                display: flex;
                flex-direction: column;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: var(--background-color);
            padding: 5rem;
            gap: 5vh;
            width: 100%;
            border-radius: var(--normal-border-radius);

            @media (max-width: 768px) {
                padding: 3rem;
            }

            input {
                width: 100%;
                padding: 0.4rem;
                padding-left: 0;
                font-size: 1rem;
                font-family: var(--subtitle-font);
                color: var(--title-color);
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid var(--border-color);
                transition: var(--animation-primary);
                border-radius: 0;

                &:focus {
                    border-bottom: 1px solid var(--accent-color);
                    outline: none;
                }
            }

            textarea {
                width: 100%;
                min-height: 10vh;
                font-size: 1rem;
                font-weight: 200;
                color: var(--title-color);
                font-family: var(--subtitle-font);
                background-color: transparent;
                border: none;
                border-bottom: 1px solid var(--border-color);
                border-radius: 0;
                transition: var(--animation-primary);

                &:focus {
                    border-bottom: 1px solid var(--accent-color);
                    outline: none;
                }
            }

            button {
                padding: 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--second-accent-color);
                background-color: var(--accent-color);
                border: none;
                cursor: pointer;
                transition: var(--animation-primary);
                border-radius: var(--normal-border-radius);
                &:hover {
                    transition: var(--animation-primary);
                    background-color: var(--second-accent-color);
                    color: var(--accent-color);
                }
            }
        }
    }
}