.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;

    // img {
    //     width: 100%;
    //     margin-bottom: 2rem;
    //     object-fit: cover;
    //     height: 100%;

    //     @media (max-width: 768px) {
    //         height: 70vh;
    //         margin-bottom: 0;
    //     }
    // }

    &__upper {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            margin-bottom: 2rem;
            object-fit: cover;
            clip-path: var(--clip-path);
            height: 70vh;

            @media (max-width: 768px) {
                margin-bottom: 0;
                clip-path: var(--mobile-clip-path);
            }
        }
    }

    &__upper_content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 3;
        gap: 2rem;

        @media (max-width: 768px) {
            top: 50%;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: var(--background-color);
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            font-family: var(--bold-font);

            @media (max-width: 768px) {
                font-size: 1.6rem;
            }
        }

        .divider {
            width: 10vw;
            height: 1px;
            background-color: var(--background-color);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        max-width: 70vw;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: -10rem;

        &__card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.5rem;
            background-color: var(--background-color);
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;

            @media (max-width: 555px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            a {
                flex-wrap: wrap;
            }

            img {
                height: 30.5vh;
                max-height: 31vh;
                min-height: 30.5vh;
                max-width: 23.5vw;
                min-width: 23vw;
                object-fit: cover;
                border-radius: var(--normal-border-radius);
            }

            h2 {
                font-size: var(--big-font-size);
                color: var(--title-color);
                text-transform: capitalize;
                letter-spacing: 0.05rem;
                font-family: var(--bold-font);
            }

            p {
                font-size: var(--body-font-size);
                color: var(--text-color);
                text-align: left;
                font-family: var(--subtitle-font);
                line-break: anywhere;
            }

            .column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                gap: 1rem;

                .group {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    gap: 1rem;

                    p {
                        max-width: 70%;
                    }

                    a {
                        background-color: var(--accent-color);
                        padding: 0.5rem;
                        border-radius: var(--normal-border-radius);
                        text-align: center;
                        transition: var(--animation-primary);

                        span {
                            color: var(--container-color);
                        }

                        &:hover {
                            transition: var(--animation-primary);
                            background-color: var(--second-accent-color);
                            border-radius: 0;

                            span {
                                color: var(--accent-color);
                            }
                        }
                    }
                }
            }

        }
    }
}