.allEntities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    transition: var(--animation-primary);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        height: 100%;
        position: relative;
        transition: var(--animation-primary);

        &__card {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 0.1rem;
            border: 1px solid var(--border-color);
            border-radius: 2rem;

            cursor: pointer;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover;
            }

        &_top {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                padding-left: 0.25rem;
            }

            p {
                font-size: 1rem;
                color: var(--subtitle-color);
                padding-right: 1rem;
            }

            button {
                color: red;
            }
        }
    }
}

.btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--background-color);
    color: var(--title-color);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

    button,
    a {
        background-color: var(--title-color);
        color: var(--background-color);
        padding: 0.5rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    }
}

.upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);

    button {
        background-color: var(--second-accent-color);
        color: var(--accent-color);
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: var(--animation-primary);

        &:hover {
            background-color: var(--accent-color);
            color: var(--second-accent-color);
        }
    }
}