.navbar {
    background-color: var(--accent-color);
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 7.5vh;

    @media (max-width: 555px) {
        height: 6.5vh;
    }


    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 90vw;
        height: 100%;

        ul {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            gap: 1rem;

            @media (max-width: 555px) {
                display: none;
            }

            li {
                a {
                    text-decoration: none;
                    color: var(--container-color);
                    font-size: var(--body-font-size);

                    &:hover {
                        color: var(--second-accent-color);
                    }
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.4rem;

            img {
                width: 4rem;
                height: 3rem;
                object-fit: cover;

                @media (max-width: 555px) {
                    width: 3rem;
                    height: 3rem;
                    object-fit: contain;
                }
            }

            h2 {
                font-size: 1rem;
                color: #fff;
                padding-right: 1rem;
                width: 100%;
                @media (min-width: 1200px) {
                    font-size: 1.2rem;
                }
            }

        }
    }

    .hamburger {
        display: none;

        @media (max-width: 555px) {
            display: inline-block;
            position: relative;
            top: -0.1rem;

            svg {
                color: var(--container-color);
                font-size: 2rem;
            }
        }
    }
}


.navbar__container ul li .activeLink {
    color: var(--second-accent-color);
    /* Example color, adjust as necessary */
    border-bottom: 1px solid var(--second-accent-color);
}