.footerUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        // add blue filter
        filter: brightness(0.5) saturate(2.5) sepia(1) hue-rotate(190deg);
    }
    &_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @media (max-width: 568px) {
            width: 100%;
        }
        h2 {
            font-size: var(--bigger-font-size);
            font-weight: 700;
            color: var(--background-color);
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            position: relative;
            text-align: center;
            margin-bottom: 2rem;
            @media (max-width: 768px) {
                font-size: 2rem;
                width: 100%;
            }
        }
        a {
            font-size: 1rem;
            font-weight: 600;
            background-color: var(--second-accent-color);
            padding: 1rem 2rem;
            border-radius: 5px;
            color: var(--accent-color);
            text-decoration: none;
            text-align: center;
            width: fit-content;
            transition: var(--animation-primary);
            cursor: pointer;
            &:hover {
                transition: var(--animation-primary);
                background-color: var(--accent-color);
                color: var(--second-accent-color);
            }

            @media (max-width: 568px) {
                font-size: 1rem;
                padding: 1rem;
            }
        }

    }
}