.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    height: 100%;
    background-color: var(--accent-color);

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 90vw;
        margin: auto;
        width: 100%;
        gap: 2rem;

        @media (max-width: 1224px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        @media (max-width: 724px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;
            padding-top: 10vh;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;


            img {
                height: 5rem;
                width: 5rem;
                object-fit: cover;
            }

            svg {
                fill: var(--container-color);

                &:hover {
                    fill: var(--second-accent-color);
                }
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--container-color);
                text-transform: uppercase;
                letter-spacing: 0.25rem;
                position: relative;
                text-align: left;

                @media (max-width: 768px) {
                    font-size: 1.6rem;
                }
            }

            &_list {
                display: flex;
                flex-direction: column;
                width: 100%;

                li {
                    a {
                        font-size: 0.8rem;
                        font-weight: 200;
                        color: var(--container-color);
                        text-align: left;
                        font-style: normal;
                        transition: var(--animation-primary);

                        &:hover {
                            transition: var(--animation-primary);
                            color: var(--second-accent-color)
                        }
                    }
                }
            }

            address {
                font-size: 0.8rem;
                font-weight: 200;
                color: var(--container-color);
                text-align: left;
                font-style: normal;

                a {
                    font-size: 0.8rem;
                    font-weight: 200;
                    color: var(--container-color);
                    text-align: left;
                    font-style: normal;
                }

                @media (max-width: 768px) {
                    font-size: 0.8rem;
                }

            }

            &_svg {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                gap: 0.3rem;
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem
}