.newsHomePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10vh 0;
    gap: 3rem;
    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--title-color);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        position: relative;
        text-align: center;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    &__upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        h2 {
            text-align: center;
        }
    }

    &_btns {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 2rem;
        width: 90%;
        height: 100%;
        padding: 2rem;

        @media (max-width: 777px) {
            padding: 0;
            padding-top: 4vh;
            gap: 1rem;
            width: 100%;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid var(--border-color);
            border-radius: 2rem;
            font-size: 1.5rem;
            font-family: var(--title-font);
            color: var(--title-color);

            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            cursor: pointer;

            svg {
                fill: var(--accent-color);
            }

            &:hover {
                background-color: var(--second-accent-color);
                color: var(--accent-color);

            }
        }
    }

    .moreNews {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding-bottom: 0;
        span {
            text-align: center;
            font-size: 1rem;
            font-family: var(--body-font);
            color: var(--title-color);
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            border: 1px solid var(--border-color);
            padding: 1rem;
            border-radius: 1rem;
            &:hover {
                background-color: var(--second-accent-color);
                color: var(--accent-color);
                transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }

    }
}


.swiper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
    max-width: 90vw;

    @media (max-width: 768px) {
        padding: 0;
    }
}

.swiper__slide {
    height: auto;
}