.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vh;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #000
    }

    &__upper {
        width: 100%;
        img {
            width: 100%;
            margin-bottom: 2rem;
            object-fit: cover;
            clip-path: var(--clip-path);
            height: 70vh;

            @media (max-width: 768px) {
                margin-bottom: 0;
                clip-path: var(--mobile-clip-path);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 1rem;
        position: relative;
        top: -14rem;
        max-width: 70%;
        margin: 0 auto;


    }
}


.featuredImage {
    img {
        height: 60vh;
        object-fit: cover;
    }

}

.group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}