.integration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    max-width: 90vw;
    margin: auto;
    gap: 3vh;
    border-radius: 2rem;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--title-color);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        position: relative;
        text-align: center;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    p {
        font-size: 1.24rem;
        font-weight: 400;
        color: var(--border-color);
        text-align: center;
        margin-bottom: 2rem;
        max-width: 60%;

        @media (max-width: 768px) {
            color: var(--title-color);
            max-width: 99%;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;  

        @media (max-width: 990px) {
            flex-direction: column;
        }
        img {
            background-color: var(--background-color);
            border-radius: 1rem;
        }
    }
}